; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; ----- block saferoom trigger bounds
{
    ; invisible block
    "targetname" "block_versus_start_checkpoint"
    "origin" "-8659 -5496 -20"
    "mins" "-8 -111 0"
    "maxs" "0 0 108"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
;       -- remove block as soon as door is opened.
modify:
{
    match:
    {
        "targetname" "checkpoint_exit"
    }
    insert:
    {
        "OnOpen" "block_versus_start_checkpointKill0-1"
    }
}

add:
; ----------- block hang-leg-up to sniper tower roof
{
    ; invisible block
    "origin" "-10438 -6325 542"
    "mins" "0 -358 0"
    "maxs" "358 0 180"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block - over small awning
    "origin" "-10337 -6310 490"
    "mins" "0 -15 0"
    "maxs" "68 0 230"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; ----------- block sneaky round-end prevention by SI
{
    ; invisible block (SI)
    "origin" "-2626 -32 330"
    "mins" "0 -82 0"
    "maxs" "126 0 212"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; ----------- block toilet that prevents round-end (like the watercooler in DT4 used to)
{
    ; invisible block
    "origin" "-2417 -21 166"
    "mins" "0 0 0"
    "maxs" "37 58 121"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
; @        Dots / Circle Squared / o2        @
; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

; =====================================================


; =====================================================
; ========== CALAMITY - undo camping events ===========
; =====================================================
modify:
; ---- director
{
    match:
    {
        "hammerid" "2737009"
    }
    delete:
    {
        "OnPanicEventFinished" "relay_enable_chuch_zombie_loopTrigger0-1"
    }
}
; ---- panic door button
{
    match:
    {
        "hammerid" "2570933"
    }
    delete:
    {
        "OnPressed" "relay_paniceventTrigger211"
        "OnPressed" "relay_churchbellTrigger181"
    }
    insert:
    {
        "OnPressed" "relay_paniceventTrigger31"
        "OnPressed" "relay_churchbellTrigger11"
        "OnPressed" "relay_enable_chuch_zombie_loopTrigger51"
    }
}
; ---- relay zombie church loop
{
    match:
    {
        "hammerid" "2737009"
    }
    delete:
    {
        "OnTrigger" "checkpoint_entranceUnlock8-1"
        "OnTrigger" "button_safedoor_PANICKill8-1"
    }
    insert:
    {
        "OnTrigger" "checkpoint_entranceUnlock1-1"
        "OnTrigger" "button_safedoor_PANICKill1-1"
    }
}
; =====================================================