
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block "window" in concrete structure, avoid jump to "jesus-"-scaffolding
{
    ; invisible block
    "origin" "-6334 -1935 218"
    "mins" "-20 -135 0"
    "maxs" "0 0 124"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; ------- block survivors jumping the barricade
{
    ; invisible block
    "targetname" "barrexploit_survivor_block"
    "origin" "-5340 -910 164"
    "mins" "0 -128 0"
    "maxs" "80 0 800"
    "initialstate" "0"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; -------- use "blocks" to make it easier for SI/tank to get over the barricade
{
    ; invisible SI support block
    "targetname" "barrexploit_infected_block"
    "origin" "-5264 -912 20"
    "mins" "-54 -128 0"
    "maxs" "0 0 130"
    "initialstate" "0"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible SI "ladder" step
    "targetname" "barrexploit_infected_block"
    "origin" "-5264 -912 20"
    "mins" "0 -128 0"
    "maxs" "2 0 114"
    "initialstate" "0"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible SI "ladder" step
    "targetname" "barrexploit_infected_block"
    "origin" "-5264 -912 20"
    "mins" "0 -128 0"
    "maxs" "4 0 98"
    "initialstate" "0"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible SI "ladder" step
    "targetname" "barrexploit_infected_block"
    "origin" "-5264 -912 20"
    "mins" "0 -128 0"
    "maxs" "6 0 82"
    "initialstate" "0"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible SI "ladder" step
    "targetname" "barrexploit_infected_block"
    "origin" "-5264 -912 20"
    "mins" "0 -128 0"
    "maxs" "8 0 76"
    "initialstate" "0"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible SI "ladder" step
    "targetname" "barrexploit_infected_block"
    "origin" "-5264 -912 20"
    "mins" "0 -128 0"
    "maxs" "10 0 60"
    "initialstate" "0"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible SI "ladder" step
    "targetname" "barrexploit_infected_block"
    "origin" "-5264 -912 20"
    "mins" "0 -128 0"
    "maxs" "12 0 44"
    "initialstate" "0"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible SI "ladder" step
    "targetname" "barrexploit_infected_block"
    "origin" "-5264 -912 20"
    "mins" "0 -128 0"
    "maxs" "14 0 28"
    "initialstate" "0"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible SI "ladder" step
    "targetname" "barrexploit_infected_block"
    "origin" "-5264 -912 20"
    "mins" "0 -128 0"
    "maxs" "16 0 12"
    "initialstate" "0"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
;       -- remove the blockers once the event is over
modify:
{
    match:
    {
        "targetname" "barricade_gas_can"
    }
    insert:
    {
        "OnBreak" "barrexploit_survivor_blockKill40-1"
        "OnBreak" "barrexploit_infected_blockKill40-1"
    }
}
;       -- only enable blockers for versus
modify:
{
    match:
    {
        "classname" "info_gamemode"
    }
    insert:
    {
        "OnVersus" "barrexploit_survivor_blockEnable0-1"
        "OnVersus" "barrexploit_infected_blockEnable0-1"
    }
}

; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
; @        Dots / Circle Squared / o2        @
; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

add:
; --- block climbing onto opposite building from saferoom door
{
    ; invisible block along roof edge
    "origin" "-4732 -3244 416"
    "mins" "-300 -420 -264"
    "maxs" "300 420 264"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block getting back at one-way drop using a door shutter/electric box
{
    ; invisible block along door shutter and electric box/pipes
    "origin" "-6260 -2492 536"
    "mins" "-172 -36 -376"
    "maxs" "172 36 376"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
modify:
; --- set barricade event to triggered by gunfire only to prevent throwables setting it off early
{
    ; set event to being started by bullets only
    match:
    {
        "targetname" "filter_fire"
    }
    replace:
    {
        "damagetype" "2"
    }
}
{
    ; remove allowance filter for other types of survivor damage
    match:
    {
        "targetname" "filter_gascan"
    }
    delete:
    {
        "Filter02" "filter_survivors"
    }
}
; --- move impossible to reach weapon_item_spawn under desk to the top of it
{
    match:
    {
        "hammerid" "7576321"
    }
    replace:
    {
        "origin" "-4992 -528 64"
    }
}
; =====================================================


; =====================================================
; ========== CALAMITY - undo camping events ===========
; =====================================================
modify:
; -- barricade
{
    match:
    {
        "hammerid" "7082739"
    }
    delete:
    {
        "OnBreak" "fuel_barricade_break3Enable40-1"
        "OnBreak" "barricade_hurtDisable40-1"
        "OnBreak" "fuel_barricade_break2Kill40-1"
        "OnBreak" "barricade_navblockerUnblockNav40-1"
        "OnBreak" "fire_soundStopSound38-1"
        "OnBreak" "fuel_barricade_break2Enable25-1"
        "OnBreak" "fuel_barricade_break1Kill25-1"
        "OnBreak" "fuel_barricade_break1Enable10-1"
        "OnBreak" "fuel_barricadeKill10-1"
        "OnBreak" "barricade_oratorSpeakResponseConceptAirport03FirePathClear40-1"
        "OnBreak" "barricade_fireStop40-1"
        "OnBreak" "construction_clipKill6-1"
    }
    insert:
    {
        "OnBreak" "fuel_barricade_break3Enable5-1"
        "OnBreak" "barricade_hurtDisable5-1"
        "OnBreak" "fuel_barricade_break2Kill5-1"
        "OnBreak" "barricade_navblockerUnblockNav5-1"
        "OnBreak" "fire_soundStopSound3-1"
        "OnBreak" "fuel_barricade_break2Enable3-1"
        "OnBreak" "fuel_barricade_break1Kill3-1"
        "OnBreak" "fuel_barricade_break1Enable2-1"
        "OnBreak" "fuel_barricadeKill1-1"
        "OnBreak" "barricade_oratorSpeakResponseConceptAirport03FirePathClear5-1"
        "OnBreak" "barricade_fireStop0-1"
        "OnBreak" "construction_clipKill1-1"
    }
}
; =====================================================